@{
    ViewBag.Title = "Admin page";
}

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="AddProduct">Add Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="AdminWarehouse">Warehouse</a>
        </li>
    </ul>
</nav>